body {
  background-color: BurlyWood;
}


h2, ul {
  font-family: "Trebuchet MS Bold", Futura, sans-serif;
}

p {
  font-family: "Trebuchet MS Bold", Futura, sans-serif;
  font-weight: normal;
}

em {
  font-style: normal;
  font-weight: bold;
}

#sides {
  background-color: black;
  color: white;
  padding-left: 2em;
}

.price {
  font-weight: normal;
}
