body {
  background-color: white;
  padding-left: 4em;
}


h2, ul {
  font-family: "Trebuchet MS Bold", Futura, sans-serif;
}

p, tr {
  font-family: "Trebuchet MS Bold", Futura, sans-serif;
  font-weight: normal;
}
ul{
list-style-type: none;
}

em {
  font-style: normal;
  font-weight: bold;
}

 #salads, #ploughmanslunch, #burgers, #beverages, #whitewine, #redwine, #specialtycocktails, #bottles, #topshelf, #wellshots, #barrail, #houseliquor {
  background-color: black;
  color: white;
  padding-left: 2em;
}

.price {
  font-weight: normal;
}
